apiVersion: apps/v1
kind: Deployment
metadata:
  name: speedtest-tracker
  namespace: speedtest
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: speedtest-tracker
  template:
    metadata:
      labels:
        app: speedtest-tracker
    spec:
      containers:
      - name: speedtest-tracker
        image: lscr.io/linuxserver/speedtest-tracker:latest
        ports:
        - containerPort: 80
        env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        - name: DB_CONNECTION
          value: sqlite
        - name: DB_DATABASE
          value: /config/database/database.sqlite
        - name: APP_URL
          value: "https://speedtest.kube.stevearnett.com"
        - name: TRUSTED_PROXIES
          value: "*"
        - name: SPEEDTEST_SCHEDULE
          value: "0 9,21 * * *"
        - name: PRUNE_RESULTS_OLDER_THAN
          value: "30"
        volumeMounts:
        - name: config
          mountPath: /config
        - name: env
          mountPath: /config/.env
          subPath: .env
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: speedtest-db
      - name: env
        configMap:
          name: speedtest-env