apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
configMapGenerator:
  - name: speedtest-env
    namespace: speedtest
    options:
      disableNameSuffixHash: true
    files:
      - .env
