[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
forks = 20
roles_path = roles
stdout_callback = default
result_format = yaml
retry_files_enabled = False
ansible_python_interpreter = auto

[privilege_escalation]
become = True
become_method = sudo