apiVersion: apps/v1
kind: Deployment
metadata:
  name: home-assistant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: home-assistant
  template:
    metadata:
      labels:
        app: home-assistant
    spec:
      initContainers:
      - name: init-config
        image: alpine
        command: ['sh', '-c', 'apk add --no-cache unzip curl && rm -f /config/configuration.yaml && cp /tmp/config/configuration.yaml /config/configuration.yaml && mkdir -p /config/custom_components/hacs && cd /config/custom_components/hacs && curl -L https://github.com/hacs/integration/releases/latest/download/hacs.zip -o hacs.zip && unzip -o hacs.zip && rm hacs.zip']
        volumeMounts:
        - name: config
          mountPath: /config
        - name: init-config
          mountPath: /tmp/config
      hostNetwork: true
      containers:
      - name: home-assistant
        image: homeassistant/home-assistant:2025.11
        ports:
        - containerPort: 8123
        volumeMounts:
        - name: config
          mountPath: /config
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: home-assistant-pvc
      - name: init-config
        configMap:
          name: home-assistant-config