apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home-assistant

resources:
  - namespace.yaml
  - dnsendpoint.yaml
  - deployment.yaml
  - service.yaml
  - pvc.yaml
  - configmap.yaml
  