apiVersion: v1
kind: ConfigMap
metadata:
  name: caddy-config
  namespace: caddy
data:
  Caddyfile: |
    (tls-wildcard) {
        tls /etc/caddy/certs/tls.crt /etc/caddy/certs/tls.key
    }

    unifi.stevearnett.com {
        import tls-wildcard
        reverse_proxy https://192.168.1.1 {
            transport http {
                tls_insecure_skip_verify
            }
        }
    }

    nas.stevearnett.com {
        import tls-wildcard
        reverse_proxy http://192.168.1.176:9999 {
            header_up Host 192.168.1.176:9999
        }
    }

    dashboard.kube.stevearnett.com {
        import tls-wildcard
        reverse_proxy http://kubernetes-dashboard.kube-system.svc.cluster.local
    }

    grafana.kube.stevearnett.com {
        import tls-wildcard
        reverse_proxy http://kube-prometheus-stack-grafana.monitoring.svc.cluster.local
    }

    prometheus.kube.stevearnett.com {
        import tls-wildcard
        reverse_proxy http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
    }

    ha.kube.stevearnett.com {
        import tls-wildcard
        reverse_proxy http://home-assistant.home-assistant.svc.cluster.local:8123
    }

    plex.kube.stevearnett.com {
        import tls-wildcard
        reverse_proxy http://plex-plex-media-server.plex.svc.cluster.local:32400
    }

    qb.kube.stevearnett.com {
        import tls-wildcard
        reverse_proxy http://gluetun.vpn.svc.cluster.local:8080
    }

    prowlarr.kube.stevearnett.com {
        import tls-wildcard
        reverse_proxy http://prowlarr.media.svc.cluster.local:9696
    }

    radarr.kube.stevearnett.com {
        import tls-wildcard
        reverse_proxy http://radarr.media.svc.cluster.local:7878
    }

    sonarr.kube.stevearnett.com {
        import tls-wildcard
        reverse_proxy http://sonarr.media.svc.cluster.local:8989
    }

    kube.stevearnett.com {
        import tls-wildcard
    }
