apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cert-manager

secretGenerator:
- name: nas-smb-credentials
  envs:
    - .env
  options:
    disableNameSuffixHash: true

resources:
  # - namespace.yaml # created via microk8s command
  - clusterissuer.yaml
  - certificate.yaml
  - sync-cert-cronjob.yaml
  - servicemonitor.yaml

patches:
  - target:
      group: ""
      version: v1
      kind: Service
      name: cert-manager
      namespace: cert-manager
    patch: |-
      - op: add
        path: /metadata/annotations
        value:
          prometheus.io/scrape: "true"
          prometheus.io/port: "9402"
          prometheus.io/path: "/metrics"
