apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: vpn

resources:
  - vpn-qbittorent.yaml

secretGenerator:
- name: vpn-secret
  envs:
  - .env
  options:
    disableNameSuffixHash: true
- name: qbittorrent-secret
  envs:
  - .env.qb
  options:
    disableNameSuffixHash: true
