apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: quotes

resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - networkpolicy.yaml
  - pvc.yaml
  
