apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-dummy-config
  namespace: cloudflared
data:
  nginx.conf: |
    events {}
    http {
        server {
            listen 80;
            location / {
                return 200 "hello world\n";
            }
        }
    }